@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

button {
    outline: 0px;
}

:root {
  --color-bg-scroll: rgb(35, 46, 51);
}

.scroll-app {
  --sb-track-color: rgb(35, 46, 51);
  --sb-thumb-color: rgb(132, 204, 22);
  --sb-size: 10px;
}

.scroll-app::-webkit-scrollbar {
  width: var(--sb-size)
}

.scroll-app::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
}

.scroll-app::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .scroll-app {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  /* width: 25rem; */
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #232e33;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #67cc16;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #67cc16;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #232e33;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #67cc16;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #67cc16;
  outline-offset: 0.125rem;
}